<div class="game-wrapper">
  <div class="gameboard">
    <div class="hero" ng-style="{'transform': 'translate(' + heroleft + ', 390px)'}"></div>
    <div class="enemy" ng-style="{'transform': 'translate(' + enemyleft + ', 10px)'}"></div>
    <div ng-show="showMissile()" class="missile" ng-style="{'transform': 'translate(' + missileleft + ', ' + missiletop + ')'}"></div>
    <div class="bomb" ng-style="{'transform': 'translate(' + bombleft + ', ' + bombtop + ') rotate(' + bombrotation + ')'}"></div>
  </div>
  <div class="score">
    <h3>Lives: {{lives}}</h3>
    <h3>Score: {{score}}</h3>
    <button class="btn" ng-click="startGame()" ng-mousedown="$event.target.blur()">Start Game</button>
    <button class="btn btn-danger" ng-click="pauseGame()" ng-mousedown="$event.target.blur()">Pause Game</button>
    <button class="btn btn-warning" ng-click="resetGame()" ng-mousedown="$event.target.blur()">Reset Game</button>
  </div>
</div>